<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>461021615139-mjjm58dcu40lst93f5am592jg9d09ed6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.461021615139-mjjm58dcu40lst93f5am592jg9d09ed6</string>
	<key>API_KEY</key>
	<string>AIzaSyDck2evW5HVFIF_nDFdgqKvvGrhy23Zh5k</string>
	<key>GCM_SENDER_ID</key>
	<string>461021615139</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nukuu</string>
	<key>PROJECT_ID</key>
	<string>nukuu-5ff84</string>
	<key>STORAGE_BUCKET</key>
	<string>nukuu-5ff84.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:461021615139:ios:cb32a84dd60d4688a6cd96</string>
</dict>
</plist>